
# 모델 파일
*.pth
*.pt
*.h5

# 데이터셋
*.jpg
*.jpeg
*.png

# 파이썬
__pycache__/
*.pyc
.env

# 기타
.DS_Store
# Created by https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode,python
# Edit at https://www.toptal.com/developers/gitignore?templates=windows,visualstudiocode,python

# 가상 환경 폴더 제외
.venv/
venv/
testHello
